<section class="footer-links grid">
  <% if (pageData.previous) { %>
    <div class="grid-cell previous">
      <a href="/<%= pageData.previous.id %>" style="color: <%= pageData.previous.color %>">
          <img src="/images/thumb-bw-<%= pageData.previous.id %>.png" alt="">
          <span><%- pageData.previous.title %></span>
      </a>
    </div>
    <% } %>
  <% if (pageData.next) { %>
    <div class="grid-cell next">
      <a style="color: <%= pageData.next.color %>" href="/<%= pageData.next.id %>">
          <img src="/images/thumb-bw-<%= pageData.next.id %>.png" alt="">
          <span><%- pageData.next.title %></span>
      </a>
    </div>
  <% } %>
</section>
