<section class="project__header grid" style="background-color: <%= pageData.current.color %>; background-image: url(/images/hero-<%= pageData.current.id %>.png);">
  <div class="grid-cell grid5 project__header__title">
    <header>
      <h1><%- pageData.current.title %></h1>
      <h3><%= pageData.current.client %></h3>
      <p></p>
    </header>
    <p><%= pageData.current.description %></p>
  </div>
  <div class="grid-cell grid7 project__header__hero">
    <!-- <img src="./images/hero-<%= pageData.current.id %>.png" alt=""> -->
  </div>
</section>
