<% include partials/header.html.ejs %>

    <section class="grid">

      <div class="grid-cell grid3">

      </div>
      <div class="grid-cell grid6 about">
        <h1 class="title">Rob Thwaites</h1>
        <h2>Digital Product Designer</h2>
        <p class="p__intro">I am a multi-disciplinary designer, working across UX, visual design and front-end development.</p>

        <p>Currently UX Designer for the team at PLAYGROUND XYZ, an <a href="http://playground.xyz" target="_blank">award-winning</a> mobile advertising startup. I lead design on Reporting and Analytics for their online platform, and design and prototype mobile advertising products.</p>

      </div>

      <div class="grid-cell grid3">
        <p>rob@robthwaites.com</p>
        <p>0403899183</p>

      </div>
    </section>

    <section class="grid work">
      <!-- <div class="grid-cell grid3">
        <h1 style="width:100%; margin-bottom: 1rem;">Work</h1>
      </div>
      <div class="grid-cell grid9 sub-grid" style="flex-direction: row; flex-wrap: wrap;"> -->
        <% allData.forEach(function(project){ %>
          <div class="grid-cell grid4" style="padding: 1rem">
            <a class="work__thumb" href="/<%= project.id %>">
              <img src="/images/thumb-bw-<%= project.id %>.png" alt="">
            </a>
            <h3 style="margin-top: 1rem; margin-bottom: 0.25rem;"><%- project.title %></h3>
             <p style="margin: 0; text-align:center; color: #ff9900"><%- project.type %></p>
            <!-- <p><%- project.client %></p> -->
          </div>
        <% }) %>
      <!-- </div> -->

    </section>

    <section class="grid approach">

        <h1 style="width: 100%">Approach</h1>

        <div class="grid-cell grid4">

          <svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
            <use x="0" y="0" href="#research"></use>
          </svg>
          <h4>Design for humans</h4>

          <p>I am a naturally empathetic person, and have conducted user research at project inception, and user testing at various project stages.</p>
        </div>

        <div class="grid-cell grid4">
          <svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
            <use x="0" y="0" href="#codesign"></use>
          </svg>
          <h4>I Sketch in code</h4>

          <p>I solve visual design problems with Photoshop and Sketch, but prefer to work 'in browser' at an early stage to iterate towards moving, functioning prototypes.</p>
        </div>

        <div class="grid-cell grid4">
          <svg viewBox="0 0 300 300" preserveAspectRatio="xMidYMid meet">
            <use x="0" y="0" href="#design"></use>
          </svg>
          <h4>Beauty = Engagement</h4>

          <p>There is value in visual flair and meaningful motion. I use my skills in graphic design and animation to make the products I work on as engaging as possible.</p>
        </div>

      </div>

    </section>


  </div>


  </section>

<% include partials/footer.html.ejs %>
