<% include partials/header-index.html.ejs %>

    <section class="grid">
      <div class="grid-cell grid12">
        <h1 class="title">Rob Thwaites</h1>
        <h2>Digital Product Designer</h2>
      </div>

      <div class="grid-cell grid12">

        <p class="p__intro">I am a multi-disciplinary designer, working across UX, visual design and front-end development.</p>

        <p class="p__intro">Right now I am <strong>UX Designer</strong> for the team at PLAYGROUND XYZ, an <a href="http://playground.xyz" target="_blank">award-winning</a> mobile advertising startup.</p>
        <p class="p__intro"> I lead design on Reporting and Analytics for their online platform, and design and prototype mobile advertising products.</p>

      </div>
    </section>

    <section class="grid work">
      <h1 style="width:100%; margin-bottom: 1rem;">Work</h1>
      <% allData.forEach(function(project){ %>
        <div class="grid-cell grid4" style="margin-bottom: 2rem;">
          <a class="work__thumb" href="/<%= project.id %>">
            <img src="/images/thumb-<%= project.id %>.png" alt="">
          </a>
          <h3 style="margin-top: 1rem; margin-bottom: 0.25rem;"><%- project.title %></h3>
           <p style="margin: 0; text-align:center; color: #ff9900"><%- project.type %></p>
          <!-- <p><%- project.client %></p> -->
        </div>
      <% }) %>
    </section>

    <section class="grid approach">

        <h1 style="width: 100%">Approach</h1>

        <div class="grid-cell grid4">
          <h4>Design for humans</h4>

          <p>I am a naturally empathetic person, and user needs are my constant companion throughout the design process. I have conducted user research at project inception, and user testing at various project stages.</p>
        </div>

        <div class="grid-cell grid4">
          <h4>I Sketch. And code.</h4>

          <p>I solve visual design problems with Photoshop and Sketch, but move my work to the browser at an early stage to leverage the efficiencies of code, and iterate towards moving, functioning prototypes.</p>
        </div>

        <div class="grid-cell grid4">
          <h4>Beauty = Engagement</h4>

          <p>The value of visual flair and meaningful motion should not be underestimated, and I use my skills in graphic design and animation to that end.</p>
        </div>

      </div>

    </section>


  </div>


  </section>

<% include partials/footer.html.ejs %>
